$accent-light-color: #fff;
$primary-color: #0077be;
$primary-color-light: #e8f5fe;
$primary-color-dark: #005691;
$body-background: #f4f7f9;
$soft-black: #333;
$dark-primary: #000;
$input-border-color: #d1d5db;
